<h1> Hello World</h1>
<!-- clicks! -->

<button id='btn' (click)="fireEvent($event)"> Click Event !</button>
<br>
<br>
<button (mouseover)="fireEvent($event)">Mouseover!</button>
<br>
<br>
<button (mousedown)="fireEvent($event)">MouseDown</button>
<br>
<br>
<button (mouseup)="fireEvent($event)">Mouseup</button>
<br>
<br>
<button (dblclick)="fireEvent($event)">dblClick</button>
<br>
<br>
<button (drag)="fireEvent($event)">drag event</button>
<br>
<br>
<button (dragover)="fireEvent($event)">dragover event</button>
