<h1>SandBox:</h1>
<!-- keyboard events -->
<div>
  <input
    type="text"
    placeholder="keyup"
    (keyup)="fireEvent($event)">
</div>
<br>
<div>
  <input
    type="text"
    placeholder="keydurn"
    (keydown)="fireEvent($event)">
</div>
<br>
<div>
  <input
    type="text"
    placeholder="focus"
    (focus)="fireEvent($event)">
</div>
<br>
<div>
  <input
    type="text"
    placeholder="blur"
    (blur)="fireEvent($event)">
</div>
<br>
<div>
  <input
    type="text"
    placeholder="cut"
    (cut)="fireEvent($event)">
</div>
<br>
<div>
  <input
    type="text"
    placeholder="copy"
    (copy)="fireEvent($event)">
</div>
<br>
<div>
  <input
    type="text"
    placeholder="paste"
    (paste)="fireEvent($event)">
</div>
<br>
<hr>
<br>
<div>
  <input
    type="text"
    placeholder="changetexticle"
    (keyup)="changeText($event)"
    value="{{ text }}">
</div>
<h2>{{ text }}</h2>
