<h1>ello

  <!-- <span *ngIf="showName">
    {{ name }}
  </span>
  <span *ngIf="!showName">
    😂🤙
  </span>
   -->

   <!-- <span *ngIf="showName; else noName">
     {{ name }}
   </span>

   <ng-template #noName>worlsds</ng-template> -->

   <p> hello {{ showName ? name : 'worldilocks' }}</p>
   <hr>
   <div [ngSwitch]="greeting">
     <div *ngSwitchCase = "'1'">
       hello world
     </div>
     <div *ngSwitchCase = "'2'">
       hi there
     </div>
     <div *ngSwitchCase = "'3'">
       go 💩 your self
     </div>
     <div *ngSwitchDefault>
       fuh gettabou it
     </div>
   </div>
</h1>
