html, body {
  height: 100%;
  margin: 0;
}

h1 {
  text-decoration: underline;
}

.wrapper {
  min-height: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer h2 {
  padding-left: 1em;
}
