<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <!-- <img width="300" src="https://cdn.pixabay.com/photo/2015/03/26/09/46/skateboard-690269_960_720.jpg"> -->
</div>
<div class="wrapper">
  <sandbox></sandbox>
</div>
<div class="footer">
  <h2>Resources: </h2>
      <h2>
        <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Heroes</a>
      </h2>
      <h2>
        <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Docs</a>
      </h2>
      <h2>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
      </h2>
</div>
